input[type="submit"] {
    background-color: green;
    padding: 10px;
    color:white;
    margin-top: 15px;
}

select,
input[type="text"]{
    margin-top: 15px;
    background-color: blue;
    padding: 10px;
}